<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>VT Radio | Vermont's Open Radio Directory</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<link rel='stylesheet' id='google-fonts-css' href='http://fonts.googleapis.com/css?family=Josefin+Sans&#038;subset=latin%2Clatin-ext&#038;ver=3.6.1' type='text/css' media='all'/>
  	<%= csrf_meta_tags %>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
</head>
<body class="sidebar-none">
	<noscript>
		<style scoped type="text/css"> .no-js { display: none; } </style>
	</noscript>
	<div id="headerwrap">
		<header id="header" role="banner">
			<h1 id="site-logo"><a href="/" title="VT Radio">VT Radio</a></h1>
			<h2 id="site-description">Vermont's Open Radio Directory.</h2>
		</header>
		<!-- /#header -->
	</div>
	<!-- /#headerwrap -->

	<%= yield %>

	<div id="footerwrap">
		<footer id="footer" class="pagewidth clearfix" role="contentinfo">
			<p class="back-top">
				Back to top:
				<a href="#header" title="Back to Top"><span class="back-top-arrow"></span></a>
			</p>
			<div class="footer-text clearfix">
				<div class="post-title">
					&copy; <%= Time.new.year %> VT Radio
				</div>
				<div class="post-date">
					Powered by <a href="http://www.vab.org" target="_blank">The Vermont Assocition of Broadcasters</a><br />
					Got a change or additon? <a href="https://github.com/mfregoe/VT-Radio/issues" target="_blank">Open an Issue Here</a>
				</div>
			</div>
			<!-- /footer-text -->
		</footer>
		<!-- /#footer -->
	</div>
	<!-- /#footerwrap -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbycvccNMbjA95mFgB-yovb0Xg3m-pEP4&sensor=false"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<%= javascript_include_tag "application" %>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-7946113-13', 'vtradio.org');
	  ga('send', 'pageview');

	</script>
</body>
</html>
